body {
    background-color: #f8f9fa;
}

.container {
    max-width: 400px;
    text-align: center;
}

.card {
    margin-top: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#count {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.btn-group {
    width: 100%;
}

.btn {
    width: 50%;
    font-size: 1.5rem;
}

#loading {
    margin: 0 auto;
}
